.title-container {
  width: 100%;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.title {
  display: inline;
}

.handle {
  display: inline;
  float: right;
  margin-right: 10px;
  user-select: none;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  line-height: 40px;
  background-color: var(--theme-primary-light);
}

.handle .description-tooltip {
  font-size: 1rem;
  position: relative;
  top: -50%;
  text-align: justify;
  width: 600px;
  line-height: normal;
  transform: translate(-103%, -50%);
  padding: 10px 18px;
  background: rgb(83, 83, 83);
  color: white;
  border-radius: 4px;
  pointer-events: none;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
  visibility: hidden;
}

.handle .description-tooltip::after {
  font-size: 0;
  content: " ";
  position: absolute;
  right: -18px;
  top: 50%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(83, 83, 83);
}

.handle:hover .description-tooltip {
  visibility: visible;
}
