.header {
  text-align: center;
  pointer-events: none;
  user-select: none;
  margin: 0 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header p {
  margin: 0.5rem 0;
}

.logo {
  height: 20vmin;
  float: left;
}

.header-title {
  font-size: calc(10px + 5vmin);
  font-family: "Montserrat-Black";
  color: white;
}

.description {
  font-size: calc(10px + 2vmin);
  font-family: "Montserrat-Black";
  color: var(--theme-text);
}

@keyframes appear {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.card-container > * {
  flex-grow: 1;
  flex-basis: 100%;
}

.card {
  background-color: var(--theme-primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: var(--theme-text);
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  animation: 0.1s ease-out 0s 1 appear;
}

.graph {
  margin: 0px 0px;
}

.tooltip {
  position: fixed;
  text-align: center;
  transform: translate(-50%, -125%);
  padding: 8px;
  background: rgb(83, 83, 83);
  color: white;
  border-radius: 4px;
  pointer-events: none;
  visibility: hidden;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(83, 83, 83) transparent transparent transparent;
}

.axis-label {
  font: 12px sans-serif;
}

.grid {
  stroke: lightgrey;
  opacity: 0.1;
}

.embedded-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.embedded-container > * {
  margin: 8px;
}



