.background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: x-large;
}

.presentation-title {
  font-family: Montserrat-Black;
  font-size: 3em;
  margin-bottom: 70px;
}

.presentation-description {
  width: 70%;
  margin: auto;
  margin-bottom: 110px;
}

.button {
  margin: auto;
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  padding: 20px;
  color: white;
  font-family: "Montserrat-Black";
  background-color: var(--theme-secondary);
  vertical-align: middle;
  transition-duration: 0.3s;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--theme-secondary-light);
}
