:root {
  --buttonColor: #282828;
  --buttonColorHover: #4b4b4b;
  --buttonColorPressed: #696969;
  --buttonColorPressedHover: #888888;
}

.toggleItem {
  display: none;
}

label {
  cursor: pointer;
  background: var(--buttonColor);
  display: block;
  position: relative;
  text-align: center;
  transition: 0.3s;
  user-select: none;
  border-radius: 25px;
  padding: 7px 0;
  margin: 5px 10px;
}

.toggleItem:checked + label {
  background-color: var(--buttonColorPressed);
  color: white;
}

.toggleItem + label:hover {
  background-color: var(--buttonColorHover);
}

.toggleItem:checked + label:hover {
  background-color: var(--buttonColorPressedHover);
}
