.selection-container {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-y: auto;
}

.selection-container > * {
  margin: 5px;
  flex-basis: 30%;
}

.button-col > * {
  margin-top: 5px;
  margin-bottom: 45px;
}

.util-button {
  flex-basis: 45%;
  transition-duration: 0.2s;
  background-color: var(--theme-primary-light);
  border: none;
  border-radius: 2px;
  outline: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.util-button:hover {
  background-color: var(--theme-primary-lighter);
  color: white;
}

.util-button:active {
  background-color: var(--theme-primary-lighterer);
  color: white;
}

text {
  pointer-events: none;
  user-select: none;
}
