#selection-panel {
  position: absolute;
  left: 0;
  right: 60%;
  bottom: 0;
  top: 0;
}

#visualization-panel {
  position: absolute;
  left: 40%;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
}