@font-face {
  font-family: "Montserrat-Black";
  src: url("./font/Montserrat-Black.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./font/Montserrat-Regular.otf") format("opentype");
  font-style: normal;
}

:root {
  --theme-primary: #181818;
  --theme-primary-light: #282828;
  --theme-primary-lighter: #4b4b4b;
  --theme-primary-dark: #121212;
  --theme-secondary: #1db954;
  --theme-secondary-light: #1ed760;
  --theme-secondary-dark: #1c9948;
  --theme-text: #b3b3b3;
}

* {
  font-family: "Montserrat-Regular", "Roboto", "Oxygen", "Ubuntu", "Cantarell", sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  background-color: var(--theme-primary-dark);
  color: var(--theme-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a;
}

::-webkit-scrollbar-thumb:active {
  background-color: #303030;
}
